@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Ubuntu", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: none;
  background: linear-gradient(46deg, #dcd246, #2985d6);
  width: 100%;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin-top: 3em;
  animation: fadeInDown 1s forwards;
}

.llogoja {
  margin-top: 1em;
  height: 150px;
}

.header span {
  display: block;
}

.forma {
  max-width: max-content;
  max-height: max-content;
    background-color: rgba(250, 250, 250, 0.25);
  padding: 30px;
  margin: 2em auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305a72;
  animation: zoomIn 1s 0.5 forwards;
}
.forma input {
  margin-bottom: 1em;
  border-radius: 5px;

  font-size: 1.2rem;
}
.forma label {
  font-size: 1.2rem;
}

.forma select {
  font-size: 1.2rem;
}

.forma input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
}

.forma select {
  margin-bottom: 1.5em;
}

#shfaqButton {
  margin-top: 1em;
  box-shadow: inset 0px 1px 0px 0px #3985b1;
  background-color: #216288;
  border: 1px solid #17445e;
  cursor: pointer;
  border-radius: 0.7em;
  color: #ffffff;
  padding: 8px 18px;
}

#shfaqButton:hover {
  background: linear-gradient(to bottom, #5a8aa5 5%, #337da8 100%);
  background-color: #28739e;
}
#shfaqButton:active {
  background: #073457;
}

.forma span {
  color: red;
}

.forma label {
  color: #202020;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}